{{#each posts}}
	<div class="post">
		<a href="{{this.href}}">
			<img src="{{this.image}}" />
			<h2>{{this.title}}</h2>
			posted at {{this.timestamp}} by {{this.author.name}}
			{{#each this.tags}}
				{{this.name}}
			{{/each}}
		</a>
	</div>
{{else}}
	Sorry, no posts to display.
{{/each}}