<!doctype html>
<html lang="en-US">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>{{title}}</title>
    	<link rel="stylesheet" href="/css/reset.css">
    	<link rel="stylesheet" href="/css/main.css">
    	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    	{{#if hasEditor}}
			<link rel="stylesheet" href="/vendor/medium-editor/dist/css/medium-editor.min.css">
		{{/if}}
	</head>
	<body>
		<header>
			<div class="content">
				<a href="/" class="blogName">{{blogName}}</a>
				<div class="menu">

				</div>
				{{blogTagLine}}
			</div>
		</header>

		<main>
			{{{@body}}}
		</main>

		<footer>
			© {{copyrightYear}} Tim Camara
		</footer>

		{{#if hasEditor}}
			<script src="/vendor/medium-editor/dist/js/medium-editor.min.js"></script>
			<script>
				var editor = new MediumEditor('.contentEditable', {
					buttons: [
						'bold',
						'italic',
						'quote',
						'anchor',
						'h2',
						'h3',
						'justifyLeft',
					],
					placeholder: {
						text: 'Witticisms go here...',
						hideOnClick: false,
					}
				});
			</script>
		{{/if}}
	</body>
</html>